<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbc1a7e4-752b-4123-84ae-1ad61aa43993/resourcegroups/WebApplication620210316095122ResourceGroup/providers/Microsoft.Web/sites/my-extreme-weather-service-app</ResourceId>
    <ResourceGroup>WebApplication620210316095122ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/dbc1a7e4-752b-4123-84ae-1ad61aa43993/resourceGroups/WebApplication620210316095122ResourceGroup/providers/Microsoft.ApiManagement/service/WebApplication6api/apis/WebApplication6</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://my-extreme-weather-service-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>85e75b99-70f1-48b5-adf5-422ee801cc7f</ProjectGuid>
    <MSDeployServiceURL>my-extreme-weather-service-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>my-extreme-weather-service-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$my-extreme-weather-service-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>